/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
 * 
 * @author A.I.
 * 
 */
 
 .button {
 	-fx-background-color: #ff9500;
 	-fx-border-color: #a9a9a9;
 	-fx-font: #000;
 	-fx-font-size:25;
 }

 .text {
 	-fx-font-family: "Lucida Grande";
 }
 
 .textfield {
 	-fx-background-color: #1e1e1e;
 	-fx-text-fill: #fff;
 
 }